* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.second-menu a {
  text-decoration: none;
  color: #000000;
}

.container {
  margin: 100px 50px;
  text-align: center;
}

.color-name {
  margin-bottom: 50px;
}
